---
import { newtClient } from '../lib/newt'
import type { Article } from '../lib/newt'

// propsからarticlesを受け取る
const { articles } = Astro.props;

// propsがない場合は全てのブログ記事を取得
const allArticles = articles || (await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
})).items;

---

<ul class="posts_list">
  {
    allArticles.length > 0 ? (
      allArticles.map((article) => {
        return (
          <li class="post_item">
            <figure class="post_img">
              <img src={article.coverImage.src} width={article.coverImage.width} height={article.coverImage.height} alt={article.coverImage.altText} loading="lazy" class="img-cover"/>
            </figure>
            <div class="post_body">
              <div class="post_tags">
              {
                article.tags.map((tag: { name: string }) => {
                    return (
                      <a href={`/tags/${tag.slug}`} class="post_tag">
                        {tag.name}
                      </a>
                    )
                  })
                }
              </div>
              <h2 class="post_ttl">
                <a href={`/articles/${article.slug}`}>{article.title}</a>
              </h2>
            </div>
          </li>
        )
      })
    ) : (
      <li>記事が見つかりませんでした。</li>
    )
  }
</ul>

<style lang="scss">
	.posts_list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%) ,1fr));
		gap: 32px;
	}
	.post_img {
		aspect-ratio: 16/9;
	}
	.post_tags {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		padding-block: 1em;
	}
	.post_tag {
		display: inline-block;
		padding: 4px 12px;
		background-color: #7a64d0;
		color: #fff;
	}
	.post_ttl {
		font-size: 1.5rem;
	}

</style>
