---
import type { Navigation } from '../lib/newt'
import { newtClient } from '../lib/newt'
import '../sass/main.scss'


const { items: Navigations } = await newtClient.getContents<Navigation>({
  appUid: 'navigation',
  modelUid: 'nav',
})
---

<footer class="footer">
  <div class="footer_inner">
    {
      Navigations.map((Navigation) => {
        return (
          <a href="/" class="footer_logo">
            <img src={Navigation.logo.src} width={Navigation.logo.width} height={Navigation.logo.height} alt={Navigation.logo.altText} loading="lazy"/>
            <span>CodeCraft</span>
          </a>
        )
      })
    }
    <nav class="fnav">
      <ul class="fnav_list">
        {
          Navigations.map((Navigation) => {
            return (
              <li class="fnav_item">
                {
                  Navigation.footer_nav.map((nav: { data: { link_text: string; link_url: string; } }) => {
                return(
                      <a href={nav.data.link_url}>{nav.data.link_text}</a>
                    )
                  })
                }
              </li>
            )
          })
        }
      </ul>
    </nav>
  </div>
</footer>

<style lang="scss">
  .footer {
    background-color: var(--bg-05);
  }
  .footer_logo {
		display: flex;
    align-items: center;
    img {
      width: 64px;
      aspect-ratio: 1/1;
    }
    span {
      font-weight: bold;
    }
	}
  .footer_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .fnav_item {
    display: flex;
    gap: 1em;
    padding-right: 2rem;
  }
</style>
