---
import type { Navigation } from '../lib/newt'
import { newtClient } from '../lib/newt'
import '../sass/layout/_header.scss'
import '../sass/main.scss'


const { items: Navigations } = await newtClient.getContents<Navigation>({
  appUid: 'navigation',
  modelUid: 'nav',
})
---

<header class="header">
  <div class="header_inner">
    {
      Navigations.map((Navigation) => {
        return (
          <a href="/" class="header_logo">
            <img src={Navigation.logo.src}
                 width={Navigation.logo.width}
                 height={Navigation.logo.height}
                 alt={Navigation.logo.altText}
                 loading="lazy"
                 class="header_logo_img" />
            <span>Codetrove</span>
          </a>
        )
      })
    }
    <nav class="gnav">
      <ul class="gnav_list">
        {
          Navigations.map((Navigation) => {
            return (
              <li class="gnav_item">
                {
                  Navigation.header_nav.map((nav: { data: { link_text: string; link_url: string; } }) => {
                return(
                      <a href={nav.data.link_url}>{nav.data.link_text}</a>
                    )
                  })
                }
              </li>
            )
          })
        }
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  .header_logo {
		display: flex;
    align-items: center;
    img {
      width: 64px;
      aspect-ratio: 1/1;
    }
    span {
      font-weight: 600;
      font-family: var(--font-en);
    }
	}
  .gnav_item {
    display: flex;
    gap: 1em;
    padding-right: 2rem;
  }
</style>
