---
import type { Navigation } from '../lib/newt'
import { newtClient } from '../lib/newt'


const { items: Navigations } = await newtClient.getContents<Navigation>({
  appUid: 'navigation',
  modelUid: 'nav',
})
---

<header class="header">
  <div class="header_inner">
    {
      Navigations.map((Navigation) => {
        return (
          <div class="header_logo">
            <img src={Navigation.header_logo.src} width={Navigation.header_logo.width} height={Navigation.header_logo.height} alt={Navigation.header_logo.altText} loading="lazy"/>
          </div>
        )
      })
    }
    <nav class="gnav">
      <ul class="gnav_list">
        {
          Navigations.map((Navigation) => {
            return (
              <li class="gnav_item">
                {
                  Navigation.header_nav.map((nav: { data: { link_text: string; link_url: string; } }) => {
                return(
                      <a href={nav.data.link_url}>{nav.data.link_text}</a>
                    )
                  })
                }
              </li>
            )
          })
        }
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  .header_logo {
		display: flex;
		width: 64px;
		aspect-ratio: 1/1;
	}
</style>
